<footer>
    <div id="social-links">
        <div>
            <h2>Mídias</h2>
        </div>
        <div id="links">
            <a href="https://github.com/edusabi"><li><ion-icon name="logo-github"></ion-icon></li></a>
            <a href="https://www.instagram.com/eduardodevv/"><li><ion-icon name="logo-instagram"></ion-icon></li></a>
            <a href="https://www.linkedin.com/in/luisEduardoDevv"><li><ion-icon name="logo-linkedin"></ion-icon></li></a>
        </div>
    </div>
    
    <div id="social-links">
        <div>
            <h2>Sobre</h2>
        </div>
        <div id="links">
            <a href="/sobremim"><li style="color: var(--red) !important;">Eu</li></a>
        </div>
    </div>

    <p>&copy; Direitos autorais!</p>
</footer>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>