<%- include('../partials/head') %>

<body class="aiai">
    
<div id="all">
    <div class="game-board">
        <img src="/img/pikachu.gif" alt="" class="pikachu">
        <img src="/img/pokeballJogo.png" class="piper">
        <img src="/img/clouds.png" alt="" class="clouds">
    </div>
</div>

<div class="btnsJogo">

    <a href="/"><button class="btnJ btnPInit1">Página inicial</button></a>
    <button class="resetButton disable" type="reset" onclick="resetGame()">Reset</button>
    <a href="/pokedex"><button class="btnJ btnPInit2">Ir para pokedex</button></a>

</div>

<script src="/js/jogo.js"></script>

</body>
</html>