<%- include('../partials/head') %>
<%- include('../partials/navbar') %>

<main class="sobreMim">

        <div id="fotoMinha">
            <div id="txt-animado2">
                <h3><span></span></h3>
            </div>
            <img src="/img/eu.jpg" alt="">
        </div>

        <div class="textos">
            <h1>Hello!</h1>
        <div id="sobreMimText">
            <p>Olá, me chamo Luís Eduardo e sou eu Desenvolvedor Web. No momento atual domino a linguagem do JavaScript juntamente do seu FrameWork o Node.js e consoante a isso utilizo o NoSQL firebase como banco de dados, também domino o HTML,CSS,BootStrap e EJS. A partir do dia 15/01/2024 irei iniciar o estudo do FrontEnd com o TypeScript, React e Next.js.E no mês de fevereiro iniciarei uma graduação em Ciências da Computação no Brasil. Diante disso estou me aprofundando cada dia mais para me tornar um programador fullStack. Obrigado pela sua atenção!</p>
        </div>

        <div id="sobreMimText">
            <p>Hi, my name is Luís Eduardo and I'm a Web Developer. I currently master the JavaScript language along with FrameWork Node.js and consoanting on that I use NoSQL firebase as a database. I also use and master HTML, CSS, BootStrap and EJS. From 01/15/2024 I will start studying FrontEnd with TypeScript, React and Next.js. In February I am going to start a graduation for Computation Sciences in Brasil. Furthermore, I am going deeper every day to become a fullStack programmer. Thank you for your attention! </p>
        </div>

    </div>

</main>

<%- include('../partials/footer') %>

<script src="/js/script.js"></script>

</body>
</html>