<%- include('../partials/head') %>

<main class="pokedex">
    <h1>GENERATION-V</h1>
    <div id="pokedex">
    <img src="#" id="pokemon" class="pokemon_image" alt="pokemon">

    <h1 class="pokemon_data">
        <span class="pokemon_number"></span> -
        <span class="pokemon_name"></span>
    </h1>

    <form action="" class="form">
        <input type="search" class="input_search" placeholder="Name or Number" required>
    </form>

    <div class="buttons">
        <button class="button btn-prev">Prev &lt;</button>
        <button class="button btn-next">Next &gt;</button>
    </div>

    <img src="/img/pokedex.png" alt="">

</div>
<div class="btnsLinks">
        <a href="/"><button class="btnPInit btnPInit1">Página inicial</button></a>
 
        <a href="/jogo"><button class="btnPInit btnPInit2">Ir para o joguinho</button></a>
</div>
<div id="pokeball"><img src="/img/pokeball.png" alt=""></div>
<div class="modalLogin"></div>
</main>



<script src="/js/pokedex.js"></script>

</body>
</html>